[2019-03-04 11:47] Roger-luo opened #1 "Name changes"
- [x] `usedbits` -> `occupied_locations`: directly follows the documentation:

I tried to make this shorter, but it has to follow the convention `locations`, or `occupied_locs`. `used` is not accurate, it sounds like this location was used before, but still available which is in contrast to what this should mean.

- [x] `block`/`parent` -> `content`: name conflict in local scope, use content inste

[2019-03-20 09:24] GiggleLiu opened #4 "`ControlBlock` should be primitive"
* it does not call `apply!` of its block member.
* in gate counting, it's behavior is different from other composite blocks.
* `RotationGate` is primitive, for consistency, control block should also be primitive.

[2019-03-20 09:45] Roger-luo commented on #4
The definition of composition is Block constructed by other blocks. The reason why RotationGate is primitive is because the usually we only use XYZ block and use that as a mark, that's why it's primitive. But it's true, one can also rotate on a parametrized block, so making RotationGate a composite gate is more correct.

On the other hand, if control become primitive, there'll be a large influence

[2019-03-20 09:52] GiggleLiu commented on #4
1. we can also use SWAP and CNOT (any Hermitian, Reflexive operator) inside a RotationGate.
2. when X, Y and Z gate used in controlled block and rotation block, they are not actually applied. In fact, for rotation gate, it is incorrect to call its sub-block as a `gate`, it is a `generator`.

`constructed by` is not accurate. Let's say, `apply!` of sub-blocks are called, or effectively called. At l

[2019-03-20 10:08] Roger-luo commented on #4
This is also the reason to make it composite, see what I replied above.

The tiny type system inside Yao is based on some basic type theory definition. This is already accurate enough: https://en.wikipedia.org/wiki/Composite_data_type

The type system inside Yao for quantum operators, is just a mirror of Julia type system, and should not be different (or it will cause the library become non-idioma

[2019-03-20 10:21] Roger-luo commented on #4
The only two primitive blocks that remains questionable are `RotationGate` and `TimeEvolution`, but the reason why they are primitive is also simple:

- the block inside `RotationGate` is just a mark on directions (although arbitrary constant gate can be used inside it, but since constant gates are just marks, this is fine)
- the block inside `TimeEvolution` serve as a Hamiltonian matrix rather th

[2019-03-20 10:31] GiggleLiu commented on #4
I don't think so, like RotationGate, the file is not much longer than ControlBlock.

The major difference is the `subblocks` interface, allowing access to sub-blocks may have the following trouble.
* Gate Counting and Timing a circuit should be handled as special cases.
* Make `autodiff` harder to implement, unlike `Rz(theta)` in other composite blocks, the gradient of `C-Rz(theta)` can not be obt

[2019-03-20 10:44] Roger-luo commented on #4
I think is straight forward, and remember control gate has type parameters, you can/should dispatch it according to what's in it.

similar as above, you can just dispatch based on the type. And this could be why original `autodiff` is hard to support this and require a refactor against Flux.

If the controlled block is a parameterized block, e.g `control(Rx(theta))`, filter out a `Rx(theta)` is ex

[2019-03-20 10:45] GiggleLiu commented on #4
I would also suggest to make `Daggered` as a subtype of `PrimitiveBlock`. It also changes the behavior of `apply!`.

[2019-03-20 10:46] Roger-luo commented on #4
`Daggered` will be part of the symbolic computation (which are all special marks on block and are composite blocks), or it would be hard to optimize things like the following:

[code]

[2019-03-20 11:35] GiggleLiu commented on #4
The example is not proper, `dag` is a function that can propagate through composite gates.

Daggered is a type.

[2019-03-22 19:31] Roger-luo opened #5 "merge Pauli gates for composite blocks"
Currently only single qubit pauli gate in `chain` and `prod` supports merging pauli gates.

Composite blocks like `kron` and `PauliString` with pure Pauli gates can be merged by when inside `chain`/`prod` as well.

I'll leave this to next release, so we can have some time play with this new optimization pass see what needs to improve.

[2019-03-24 07:30] GiggleLiu commented on #1
`occupied_locations` is too long

`chcontent` for consistency

Do you mean a submodule? Being a `submodule` is better than being a separate package

`matgate` is not friendly for pronouncing, `tg` sounds strange. Comparing with `occupied_locations`, `matrixgate` is quite good. = =

don't understand

=========
The rest are ok.

[2019-03-26 10:26] Roger-luo commented on #1
`matgate` follows `mat`

`occupied_locs` ?

module means submodule, there's no difference of `submodule` in Julia. There're only difference between `module` and `package`/`project`.

like `chain`, etc. you can define `Measure` with `measure` (a function). All the blocks in this package provide a corresponding lower-case method for construction for convenience (but it's not a requirement in other c

[2019-03-26 11:28] GiggleLiu commented on #1
`matgate` -> matblock

`measure` is used as a function in `YaoArrayRegister`, is there any other name that can we use then?
Maybe make `measure` lazy? the problem is `measure` is different from `measure!`

[2019-03-26 11:33] Roger-luo commented on #1
`measure` has no conflict with `YaoArrayRegister` , since `measure` has to take a register as input for registers. Or it will construct a block. (which is an operator, which make sense).

[2019-03-26 12:24] Roger-luo commented on #1
parameters:
- [x] `iparameters` -> `parameters`: it's pretty vague to let only one letter to represent something, and `parameters` as a noun is some property of the instance (which was why I originally call it `parameters`).
- [x] `parameters` -> `allparameters`: it's more explicit to say `all` instead of just `parameters` when you return all the parameters of a block tree.

- [x] `dispatch!!` ->

[2019-03-26 12:46] GiggleLiu commented on #1
`dispatch!! -> popdispatch!`

maybe `intrinsic_parameters` can be a more explicit name for `iparameter`. `parameters` is just perfect. As a widely used interface, no one is complainting about it, a better name does not exist.

[2019-03-28 19:11] Roger-luo opened #6 "[Feature Request] AncillasBlock"
This is just a reminder to add an `AncillasBlock` to this package which add several ancilla qubits and then measure them out.

[2019-03-28 19:16] Roger-luo opened #7 "[Feature Request] Use Clifford to replace Pauli String"
Clifford group can be stored by a tableau and be calculated in poly time (on stabilizer states) with either the tableau based algorithm or graph states. A block for Cliffords is more useful when construct/transform/calculate things like graph state, error correction codes.

But since this is deeply related to graph states, this might should go into another package with graph state together.

Relat

[2019-04-02 18:29] Roger-luo opened #8 "Scale printing is not correct"
MWE:

[code]

got

[code]

should be

[code]

[2019-04-03 18:09] Roger-luo commented on #8
So it turns out that `Scale` is a composite block, but behaves like a primitive block while printing. I think this should be fixed now by directly forward print_annotation to other composite blocks.

[2019-04-03 18:09] #8 closed, assigned to Roger-luo

[2019-04-03 18:13] Roger-luo commented on #5
Fortunately, our simplifier just works for the follow composite blocks (multi-qubits blocks contains single qubits Paulis)

[code]

I think next step is to define simplification rules for Cliffords, which will work for multi-qubits circuit in general. Probably this part should be moved to another package in the future, but whoever interested in this feature could start trying YaoBlocks with it now

[2019-04-03 18:18] Roger-luo opened #9 "Preserve `chain` type signature when simplifying the circuit"
Current, for simplicity in implementation, I just make use of the `Prod`'s simplification rules for `chain`, but this will cause `chain` become a `prod` after simplification.

This is not a big deal, since:

1. these two blocks are equivalent mathematically, (the only difference is that `prod` uses the order of production and is static, and chain follows the order of application with a dynamic lis

[2019-04-04 08:48] Roger-luo opened #10 "Use SimpleTraits for block properties like ishermitian etc."
Currently the traits e.g `PreserveAll` is implemented manually, we should make use of [SimpleTraits](https://github.com/mauro3/SimpleTraits.jl) to make this more elegant and powerful.

e.g with trait `IsHermitian`, we could dispatch time evolution's `expv` based on this trait, and the circuit simplification should be easier to make use of multiple dispatch.

[2019-04-05 17:13] GiggleLiu commented on #9
My opinion is not mixing `chain` and `prod`. Very confusing.

[2019-04-05 17:20] GiggleLiu commented on #5
Merging pauli gates might be a useful feature.
But please don't use `prod` in unitary evolutions, this example just shows how terrible it is.

[2019-04-06 09:42] Roger-luo commented on #5
This is useful and this is not related to this issue, see #9. The point to use prod here is just because it's easy to implement. I think eventually these things should be move to a single package for symbolic computing and circuit optimization. But we can use it for now.

[2019-04-06 09:43] GiggleLiu commented on #5
Not implementing it would be better. For preventing potential errors.

[2019-04-06 09:44] Roger-luo commented on #5
I don't see any potential errors, you can't construct/desctruct a Prod without operators.

[2019-04-06 09:48] Roger-luo commented on #5
The point of #9 is when someone really hit something, it's never too late to make things work. We can't make everything work with one go.

[2019-04-06 09:48] GiggleLiu commented on #9
An example of how unintuitive it can be

https://github.com/QuantumBFS/YaoBlocks.jl/issues/5

It looks like a computer with both big-endian and small-endian numbers, haha

[2019-04-06 09:52] Roger-luo commented on #9
I think I could make a PR to make it work later, it's doable to make simplify supports chain directly. And just remove prod later.

[2019-04-06 10:01] GiggleLiu commented on #5
I think we both agreed that our development should be demand-driven.
Then, we should remove the `Prod`, keep the issue and wait for the feature requests. `Prod` is a replaceable structure, it is almost parallel to chain in functionality.

[2019-04-06 10:14] Roger-luo commented on #5
It's something required for simplify for now, if this is removed, it won't work at all. I don't think remove functionality is a good idea. The point is we could remove Prod after implementation a pass for chain.

It's not something breaking the API, since Prod is just a temporary representation of * and Prod.  And not something preventing things not to work.

[2019-04-06 10:22] GiggleLiu commented on #5
There should not be too much overlap between `Prod` and `ChainBlock`, make it possible or remove `Prod`.

Don't get this point.

[2019-04-06 11:48] Roger-luo commented on #5
I can just remove Chain's pass so  simplify only works for Prod. And add it back when we have time to implement one for Chain.

[2019-04-06 11:52] GiggleLiu commented on #5
ok, then please also polish the printing

instead of
[code]
print `X*Y`.

[2019-04-06 13:49] Roger-luo commented on #5
This printing should be a bug. I'll have a look when I'm back.

Ok now */prod strictly corresponding to Prod, nothing else will create a Prod node implicitly. (It's just one line anyway)

[2019-04-09 04:39] Roger-luo opened #11 "[Feature Request] Classical Control Block"
So sometimes it's useful to embed a classical control inside the circuit, it controls a part of the circuit by measuring some qubits out.

The desired behavior can be measure and remove or measure and collapse to some qubits config.

[2019-04-09 15:50] Roger-luo commented on #5
@GiggleLiu  The printing is correct:

[code]

I don't get

[code]

[2019-04-10 07:25] GiggleLiu commented on #5
I mean, `X*Y` would be better.

[2019-04-10 07:27] GiggleLiu commented on #11
Could you please clarify the differences between
* Quantum `ControlBlock`
* `ConditionBlock` in `YaoExperiment.jl`

[2019-04-10 15:24] Roger-luo commented on #11
I mean `ConditionBlock`

[2019-04-10 15:28] Roger-luo commented on #5
But this will mess up the following

[code]

which make sense for simplification and basis, etc. (they are Cliffords) and I don't think it's trivial to workaround that. I'd like to keep what it is now, at least it is readable (it won't be readable at all for composite block in a single line).

`X * Y` only works for primitive blocks, since you don't need multiple lines.

[2019-04-11 08:08] GiggleLiu commented on #5
you are right.

[2019-04-11 09:56] Roger-luo opened #12 "Weird Performance of SMatrix and Matrix on instruct!"
MWE:

[code]

The performance of instruct is quite different on my machine with Julia 1.1 with `SMatrix` and `Matrix`, unexpectedly, `SMatrix` is even slower. This is causing current QCBM circuit slower than before.

[2019-04-11 10:00] Roger-luo commented on #12
It will be more obvious when you pack a few `instruct` together, e.g using chained put blocks.

[code]

[code]

[2019-04-11 10:09] Roger-luo commented on #12
But `SMatrix` should be faster

[code]

[2019-04-13 11:40] GiggleLiu commented on #11
I don't get why it is a feature request if it is an existing feature?

[2019-04-13 11:56] GiggleLiu opened #13 "Better error information for blocks with undefined setiparams!"
Now is

[code]
Should throw a Number of parameter mismatch error.

This line of code
https://github.com/QuantumBFS/YaoBlocks.jl/blob/3936a66db7c4ea4de502845d46f5bf79058ffad9/src/abstract_block.jl#L132

should be written in a more restrictive way.

[2019-04-14 06:13] Roger-luo commented on #11
It's not in YaoBlocks yet. Just remind myself to add it.

[2019-04-18 09:47] Roger-luo commented on #1
This is done.

[2019-04-18 09:47] #1 closed, assigned to nobody

[2019-04-18 09:48] Roger-luo commented on #9
`chain` will not be optimized any more #5

[2019-04-18 09:48] #9 closed, assigned to nobody

[2019-04-18 13:03] GiggleLiu opened #14 "long type parameters in Static Types"
@Roger-luo
I tried to construct a hamiltonian, but got the following printing information in error message. I worried about the performance of having the following long type parameters. It is possible?
I wonder why static type parameter would be useful in optimization.
It is pretty heavy in printing.

[code]

[2019-04-18 15:05] #13 closed, assigned to Roger-luo

[2019-04-18 15:40] Roger-luo opened #15 "missing single function constructor chain"
MWE:

[code]

causing error:

[code]

[2019-04-18 15:43] #15 closed, assigned to Roger-luo

[2019-04-21 17:37] Roger-luo opened #16 "register 0.3.0"
@JuliaRegistrator register()

[2019-04-21 17:38] #16 closed, assigned to nobody

[2019-04-21 17:38] Roger-luo opened #17 "register package"
@JuliaRegistrator register()

[2019-04-21 17:38] JuliaRegistrator commented on #17
Error while trying to register: Project file should contain name, uuid and version

[2019-04-21 17:39] Roger-luo commented on #17
@JuliaRegistrator register()

[2019-04-21 17:39] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/166](https://github.com/JuliaRegistries/General/pull/166)

After the above pull request is merged, it is recommended that you create
a tag on this repository for the registered package version:
[code]

[2019-04-21 19:20] Roger-luo commented on #17
@JuliaRegistrator register()

[2019-04-21 19:20] JuliaRegistrator commented on #17
Registration pull request updated: [JuliaRegistries/General/166](https://github.com/JuliaRegistries/General/pull/166)

After the above pull request is merged, it is recommended that you create
a tag on this repository for the registered package version:
[code]

[2019-04-22 19:23] Roger-luo opened #18 "incorrect dispatch!"
[code]

[2019-04-22 19:32] #18 closed, assigned to nobody

[2019-04-23 09:08] Roger-luo commented on #17
@JuliaRegistrator register()

[2019-04-23 09:08] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/221](https://github.com/JuliaRegistries/General/pull/221)

After the above pull request is merged, it is recommended that you create
a tag on this repository for the registered package version:
[code]

[2019-04-24 13:30] Roger-luo opened #21 "Sum does not work for SubArray"
MWE:

[code]

This cause the Lancoz process in time evolution block fails.

[2019-04-24 16:11] #21 closed, assigned to Roger-luo

[2019-04-27 17:34] Roger-luo commented on #17
@JuliaRegistrator register()

[2019-04-27 17:34] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/365](https://github.com/JuliaRegistries/General/pull/365)

After the above pull request is merged, it is recommended that you create
a tag on this repository for the registered package version:
[code]

[2019-04-30 10:31] Roger-luo opened #32 "unintuitive error behaviour of dispatch!"
the error behaviour is a bit unintuitive, it is safer to leave parameters unchanged instead of

[code]

XRef: #31

[2019-05-01 06:17] Roger-luo commented on #17
@JuliaRegistrator register()

[2019-05-01 06:17] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/466](https://github.com/JuliaRegistries/General/pull/466)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the github

[2019-05-02 05:47] GiggleLiu commented on #32
Solved by pr #33

[2019-05-02 05:47] #32 closed, assigned to nobody

[2019-05-03 16:57] GiggleLiu opened #35 "Better printing"
Measure, show locs, collapseto and operator information
Control, controlled qubits

[2019-05-04 08:53] Roger-luo commented on #17
@JuliaRegistrator register()

[2019-05-04 08:53] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/528](https://github.com/JuliaRegistries/General/pull/528)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the github

[2019-05-04 09:54] Roger-luo opened #37 "remove `T` in block parameters"
[code]

`T` is mainly for matrices, which is not useful in most cases, and will causing the following things to work/doesn't work, which completely make no sense since blocks are only representations of quantum operators, and do not have specific dependency on concrete types.

- 32bit register can use 64bit circuit
- 32bit register on CUDA RAM can use 64bit circuit on CPU RAM (since we actually do

[2019-05-04 15:35] GiggleLiu opened #38 "Batched block"
We have already got batched register for solving the sampling problem.

Also, I find pretty useful to have batched blocks, especially in simulating `kernel` quantum algorithms in

A possible prototype
[code]

The problem is how do we dispatch a `Batched` block? Or just disallow `dispatch!` a scalar for such a block?

[2019-05-04 15:43] Roger-luo commented on #38
I think this is similar to what I proposed "Array" block before.

[2019-05-04 16:39] GiggleLiu commented on #38
Let's add it after summer school and add some beautiful examples!

[2019-05-05 07:20] Roger-luo opened #39 "make `RotationBlock` composite block"
It looks strange that:

[code]

it would be much better if it is just a `container`

[code]

since composite should simply means the composition of other blocks.

[2019-05-05 07:25] Roger-luo commented on #38
1. I don't think we should let it be `broadcastable`, having two similar things `apply!` and `apply!.` is dangerous, especially when a simple for loop will do the job.
2. I was think about share type annotation, so the a batch of same block with parameters are contiguous on memory which improves cache efficiency and simplifies the update process of variational circuits, and it will fallback to the

[2019-05-05 09:52] GiggleLiu commented on #38
Just do it in a simple way. But please notice, apply!. gives you the reasonable result if and only if Batched is broadcatable.

Anyway, let’s not discuss good or bad before implementing one.

[2019-05-05 09:55] GiggleLiu commented on #39
Agree, but let’s make it slow. It is still confusing that whether a generator should be regarded as a gate or not. Let’s see more feedbacks.

[2019-05-08 13:20] #35 closed, assigned to Roger-luo

[2019-05-13 17:26] #14 closed, assigned to Roger-luo

[2019-05-13 17:26] #37 closed, assigned to Roger-luo

[2019-05-27 18:12] Roger-luo commented on #17
@JuliaRegistrator register()

[2019-05-27 18:12] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/1018](https://github.com/JuliaRegistries/General/pull/1018)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-06-03 21:20] Roger-luo opened #48 "Use `expv_timestep` instead of `expv` for TE"
`expv_timestep` converge faster in Lancoz because it divide the total time step into small steps and re-use the Krylov space, as suggested by @ChrisRackauckas we should try this for our time evolution.

And we need to investigate the in-place exp https://github.com/JuliaDiffEq/ExponentialUtilities.jl/pull/20 in upstream.

[2019-06-10 02:21] Roger-luo opened #50 "do not export `factor`?"
I hit this while implementing Shor algorithm.

This function conflicts with the `factor` function in `Primes.jl`, I think we don't need to export it by default for `Scale`, in most cases you can just use `dot`. instead of `factor`, after 1.0, there's no benefit to define an extra method for members anyway (since there are inspect functions like `getproperty` etc.)

[2019-06-10 03:30] GiggleLiu commented on #50
This reason is not strong enough for changing the interface. Our package does not depend on Primes. I guess one can easily find mat and apply!  in a package too.

[2019-06-10 05:58] GiggleLiu commented on #50
Use `Primes.factor` would be good enough.

[2019-06-10 06:03] Roger-luo commented on #50
I got errors when using the function factor unless I import it explicitly. It is annoying to write this extra line just because of something rarely be used.

[2019-06-10 06:07] GiggleLiu commented on #50
It takes more effort to change interface in Yao.

[2019-06-10 06:11] Roger-luo commented on #50
From what I see here, you only need to remove the export, and that's all. Is there any external package depends on this? And what I mean is not export it in Yao, but it is fine to export it in YaoBlocks.

[2019-06-10 07:46] GiggleLiu commented on #50
Since it admits  Val type, it is not straight forward for user to get the factor if we do not export it.

[2019-06-10 07:47] GiggleLiu commented on #50
Using Primes and Yao at the same time is a rare case.

[2019-06-10 17:35] Roger-luo commented on #50
OK, that sounds reasonable, I would like to keep this function then.

But I still feel strange for importing this manually especially this will be in our example. I mean, the `Scale` is not part of quantum circuit anyway, we could just export it in `YaoBlocks`, but do not export it in `Yao`. So for users who really need to inspect the factor (which is rare as well since in most cases circuit doesn

[2019-06-11 01:21] GiggleLiu commented on #50
In a hamiltonian related calculations, we have `Scale`s.

The point is we can not avoid using `Module.function` in julia, get used to that?

[2019-06-19 01:16] Roger-luo commented on #17
@JuliaRegistrator register

[2019-06-19 01:16] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/1457](https://github.com/JuliaRegistries/General/pull/1457)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-07-05 03:00] GiggleLiu opened #53 "Issues related to Benchmarks"
* In primitive block benchmark, we should use `put` rather than `repeat`?
* Do not use `rand` in this benchmark, please specify a deterministic position for benchmark.

[2019-07-05 03:34] Roger-luo commented on #53
No, the benchmark here is mainly to make sure that each block's apply is dispatched to correct function in certain context. The benchmark of instructions is in YaoArrayRegister. So in principle, we should have both, I just didn't write it in last PR. (I only set up the basic things)

Then specify a random seed?

[2019-07-05 06:02] GiggleLiu commented on #53
Ok, I see. Then about random numbers, why not just specify two numbers to provide better readability?

[2019-07-10 01:55] Roger-luo opened #56 "add `cz` interface"
Ref: #54

[2019-07-19 01:29] mbeach42 opened #57 "setiparams! for complex array"
`setiparams!` is not defined for complex arrays?

Also, the error message for is wrong,
`ERROR: LoadError: setparams!(x, θ...) is not implemented`
 should be `setiparams!(x, θ...)` like the function name

[code]

[code]

[2019-07-19 03:23] GiggleLiu commented on #57
reopen, need to add a fallback test later.

[2019-07-19 16:09] dgan181 opened #59 "Return type for mat()"
`mat` returns `ComplexF64`, by default. For `GeneralMatrixBlock` , it should return the element type of the matrix.
[code]

[2019-07-29 05:20] #59 closed, assigned to nobody

[2019-08-02 00:20] Roger-luo commented on #17
@JuliaRegistrator register

[2019-08-02 00:20] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/2449](https://github.com/JuliaRegistries/General/pull/2449)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-08-23 01:15] Roger-luo opened #66 "incorrect error msg"
[code]

We need better error msg for types as well instead of suggesting pairs.

[2019-08-28 12:11] GiggleLiu opened #67 "Make measurement result change inplace"
Change `mb.result = measure(...)` to
[code]
For two reasons,
* It is easier to port QASM, where classical memory `creg` can be mapped to a constant address. (or can we use measure block itself as `creg`? sounds a bit strange)
* When porting real device, `mb.result` can act as a shared memory between quantum program and classical program.

[2019-08-28 15:39] GiggleLiu commented on #17
@JuliaRegistrator register()

[2019-08-28 15:40] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/3032](https://github.com/JuliaRegistries/General/pull/3032)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-08-28 20:25] Roger-luo commented on #67
I think we would compile instead interpretation when porting real device, since interpretation itself is just not very suitable (and require more work) to make it. I don't think it matters to consider whether measure block represents classical register or not, only its semantic matters. It can be lowered to classical register without changing its inner behaviour.

The implementation in this packag

[2019-09-16 17:59] Roger-luo opened #70 "rm mathgate etc."
since we are going to move them there

https://github.com/QuantumBFS/YaoExtensions.jl/commit/d5fc841b9af886c57d16c0bbf5327f0684cb4a6d

[2019-10-12 20:26] Roger-luo commented on #17
@JuliaRegistrator register

[2019-10-12 20:26] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/4313](https://github.com/JuliaRegistries/General/pull/4313)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-10-12 21:00] Roger-luo commented on #17
@JuliaRegistrator register

[2019-10-12 21:00] JuliaRegistrator commented on #17
Registration pull request updated: [JuliaRegistries/General/4313](https://github.com/JuliaRegistries/General/pull/4313)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-10-24 07:06] GiggleLiu commented on #17
@JuliaRegistrator register

[2019-10-24 07:07] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/4674](https://github.com/JuliaRegistries/General/pull/4674)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-10-30 01:54] Roger-luo commented on #17
@JuliaRegistrator register

[2019-10-30 01:54] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/4865](https://github.com/JuliaRegistries/General/pull/4865)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-03 03:57] Roger-luo opened #81 "convert Rx(0) to floating point"
this is not compatible with previous versions.

[2019-11-21 01:53] Roger-luo commented on #17
@JuliaRegistrator register

[2019-11-21 01:53] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/5671](https://github.com/JuliaRegistries/General/pull/5671)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-21 01:58] Roger-luo commented on #17
@JuliaRegistrator register

[2019-11-21 01:59] JuliaRegistrator commented on #17
Registration pull request updated: [JuliaRegistries/General/5671](https://github.com/JuliaRegistries/General/pull/5671)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-21 02:14] Roger-luo commented on #56
I think we have cz now.

[2019-11-21 02:14] #56 closed, assigned to nobody

[2019-11-21 04:17] Roger-luo opened #86 "StaticArrays warning"
if you try to run the test, we get this now, seems to be

[code]

[2019-11-21 04:22] Roger-luo commented on #17
@JuliaRegistrator register

[2019-11-21 04:23] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/5677](https://github.com/JuliaRegistries/General/pull/5677)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-21 04:50] Roger-luo commented on #17
@JuliaRegistrator register

[2019-11-21 04:50] JuliaRegistrator commented on #17
Registration pull request updated: [JuliaRegistries/General/5677](https://github.com/JuliaRegistries/General/pull/5677)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-21 05:13] Roger-luo commented on #17
@JuliaRegistrator register

[2019-11-21 05:13] JuliaRegistrator commented on #17
Registration pull request updated: [JuliaRegistries/General/5677](https://github.com/JuliaRegistries/General/pull/5677)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-21 05:27] Roger-luo commented on #17
@JuliaRegistrator register

[2019-11-21 05:27] JuliaRegistrator commented on #17
Registration pull request updated: [JuliaRegistries/General/5677](https://github.com/JuliaRegistries/General/pull/5677)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-21 06:58] #86 closed, assigned to nobody

[2019-11-21 06:59] Roger-luo commented on #17
@JuliaRegistrator register

[2019-11-21 06:59] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/5685](https://github.com/JuliaRegistries/General/pull/5685)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-27 23:52] Roger-luo opened #90 "move faithful gradient & extend sampling interface for expect"
I think it's time to move them here now.

I don't think we will revise the design recently even there might be some problem there which should be solve in a more elegant approach by introducing the new IR.

[2019-12-05 11:27] #17 closed, assigned to nobody

[2019-12-05 11:28] Roger-luo opened #94 "register"
@JuliaRegistrator register

[2019-12-05 11:28] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/6280](https://github.com/JuliaRegistries/General/pull/6280)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-09 18:40] Roger-luo opened #102 "add docs to constant gates"
we are missing a lot docs for constant gates, need to add them later when one has some more time

[2019-12-10 09:41] Roger-luo commented on #94
@JuliaRegistrator register

[2019-12-10 09:41] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/6475](https://github.com/JuliaRegistries/General/pull/6475)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-11 00:12] Roger-luo commented on #94
@JuliaRegistrator register

[2019-12-11 00:12] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/6508](https://github.com/JuliaRegistries/General/pull/6508)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-12 21:12] Roger-luo commented on #94
@JuliaRegistrator register

[2019-12-12 21:12] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/6621](https://github.com/JuliaRegistries/General/pull/6621)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-12 21:13] Roger-luo commented on #81
done in 0.8

[2019-12-12 21:13] #81 closed, assigned to Roger-luo

[2019-12-12 21:14] Roger-luo commented on #66
done.

[code]

[2019-12-12 21:14] #66 closed, assigned to nobody

[2019-12-13 06:32] Roger-luo commented on #94
@JuliaRegistrator register

[2019-12-13 06:32] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/6661](https://github.com/JuliaRegistries/General/pull/6661)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-18 03:26] Roger-luo commented on #94
@JuliaRegistrator register

[2019-12-18 03:26] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/6873](https://github.com/JuliaRegistries/General/pull/6873)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-23 05:08] Roger-luo commented on #94
@JuliaRegistrator register

[2019-12-23 05:08] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/7073](https://github.com/JuliaRegistries/General/pull/7073)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-23 08:49] GiggleLiu commented on #94
@JuliaRegistrator register

[2019-12-23 08:49] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/7082](https://github.com/JuliaRegistries/General/pull/7082)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-23 11:52] Roger-luo commented on #94
@JuliaRegistrator register

[2019-12-23 11:52] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/7086](https://github.com/JuliaRegistries/General/pull/7086)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2020-02-05 17:08] Roger-luo opened #120 "optimize `repeat(n, H)` by Wlash-Hadamard transform"
as proposed by @emerali we could optimize this pattern by using Wlash-Hadamard transform

https://github.com/QuantumBFS/YaoBlocks.jl/blob/636656a5649096382649dbc3ce899e0f87e1b517/src/composite/repeated.jl#L102

[2020-03-14 01:13] wangleiphy opened #124 "doc improvement of expect'"
clarify the mathematical meaning of expect'

https://github.com/QuantumBFS/YaoBlocks.jl/blob/master/test/autodiff/specializes.jl#L21

BTW, typo here
https://github.com/QuantumBFS/YaoBlocks.jl/blob/master/test/autodiff/specializes.jl#L43

`fideliy` -> `fidelity`

[2020-03-25 18:42] Roger-luo commented on #94
@JuliaRegistrator register

[2020-03-25 18:42] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/11568](https://github.com/JuliaRegistries/General/pull/11568)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-04-02 05:16] Roger-luo commented on #94
@JuliaRegistrator register

[2020-04-02 05:16] JuliaRegistrator commented on #94
Registration pull request updated: [JuliaRegistries/General/11568](https://github.com/JuliaRegistries/General/pull/11568)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-06-01 19:00] Roger-luo commented on #94
@JuliaRegistrator register

[2020-06-01 19:00] JuliaRegistrator commented on #94
Registration pull request created: [JuliaRegistries/General/15708](https://github.com/JuliaRegistries/General/pull/15708)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-06-15 05:08] frankwswang opened #139 "The different behaviors between `expect` and `expect'` when inputting a pair of register and circuit"
I  was reading the documentation of Yao and found that in the [description of function `expect'`](http://docs.yaoquantum.org/dev/man/blocks.html#YaoAPI.expect-Union{Tuple{B},%20Tuple{AbstractBlock,DensityMatrix{B,T,MT}%20where%20MT%3C:AbstractArray{T,3}%20where%20T}}%20where%20B), the Note (blue box) says that `expect'` is a slight modification of `expect` for the cases of batched registers when w

[2020-07-05 09:14] ywlds opened #140 "return the expectation and its gridient in the same function exp'"
can we put the function exp' in YaoBlocks/src/autodiff/specializes.jl to support return the expection and its gridients?
I try this by adding the  energy = copy(outδ)'*copy(out), but I feel the parameters or energy dose not change in the iteration.
Is there is something wrong due to the parameters is changed somehow?
iteration and Loss function energy is : 1 -6.783714426018552 + 0.0im
iteration an

[2020-07-05 10:09] ywlds commented on #140
I think i found the mistakes, there, the function just need to update the parameters, using
dispatch!(circuit, params) then it works.

[2020-07-05 10:09] #140 closed, assigned to nobody

[2020-11-17 01:50] Roger-luo commented on #124
is this resolved now? @GiggleLiu

[2020-11-17 01:55] #94 closed, assigned to nobody

[2020-11-17 02:11] GiggleLiu commented on #124
yes

[2020-11-17 02:11] #124 closed, assigned to wangleiphy, GiggleLiu

[2020-11-18 03:48] JuliaTagBot opened #147 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

[2020-11-18 03:48] #147 closed, assigned to nobody

[2020-12-22 00:24] Krastanov opened #152 "Interoperability with alternative simulators (in particular, efficient simulators for Clifford circuits)"
I am prompted to ask this question by an offhand comment @Roger-luo made in https://discourse.julialang.org/t/quantikz-jl-for-drawing-quantum-circuit-diagrams-with-julia/52200
I am working on a library with a very limited scope: fast simple simulation of Clifford circuits. It is [QuantumClifford.jl](https://github.com/Krastanov/QuantumClifford.jl). It can be particularly fast because this restrict

[2020-12-22 00:25] Krastanov commented on #152
Ideally interoperability would not require creating a dependency on a large complicated external package. This is one of my main worries as I am particularly happy how small `QuantumClifford` is.

[2020-12-22 00:41] Roger-luo commented on #152
Thanks for being interested in this!

I'm wondering for the circuit simulation, does it use the tableau algorithm or the graph state algorithm, or it's something new? Just out of curiosity.

To provide a new backend you need don't need to worry about YaoBlocks at all. Just create a new register type would do the work, which can be just put into a glue package, e.g we can create package called `Yao

[2020-12-22 00:51] Krastanov commented on #152
Thanks, this is very informative!
Yes, indeed, it is simply the tableaux formalism (with the "destabilizer" secondary tableaux also implemented in order to further speed up some of the operations).

I have a couple of extra questions:

- How do you deal with "trajectories"-style simulations or Monte Carlo simulations? In such cases the output of the instruction would have different possible values

[2020-12-22 00:56] Krastanov commented on #152
I saw your edit concerning `ZXCalculus`. Could you give a simple example against which I can benchmark to see whether `QuantumClifford` can provide anything of use? For instance, how would I generate a circuit of 50 CNOT gates acting on 80 qubits initialized in some states and then measure 20 different multiqubit Pauli operators. The examples I see in ZXCalculus deal more with simplifying circuits

[2020-12-22 01:15] Roger-luo commented on #152
For these two problems, unfortunately, we haven't thought about it during the design of the current QBIR. QBIR serves more as a pure unitary quantum operation plus measure, which as a result we can only represent unitary channels in this IR.

However, we are working on a new type of IR in the compiler [YaoCompiler](https://github.com/QuantumBFS/YaoCompiler.jl) for [YaoLang](https://github.com/Quan

[2020-12-22 01:20] Roger-luo commented on #152
Yes, we made it for circuit simplification. Since we don't have a use case to implement an efficient algorithm for Clifford circuits ourselves. I didn't mean to benchmark these two, but more just want to mentioning that the graph state algorithm actually exists in ZX calculus. Imagine when you input state is represented in a ZX-diagram, then we will be able to contract the input state diagram with

[2020-12-22 01:39] Krastanov commented on #152
Thank you, I have a much better understanding now. I will try to keep up with Yao's development.

The simulation of noisy Clifford circuits (e.g. the Monte Carlo and the symbolic derivation of values for various metrics) is a particularly important goal of my project, which does not seem to be yet covered by the IR available here. I am looking forward to the next gen IR you mentioned, it sounds ve

[2021-01-28 15:42] jlbosse opened #155 "`mat_back!` for custom blocks"
I defined my own `PrimitiveBlock` via
[code]
and added the neccessary `mat, niparams, getiparams, setiparams, Base.adjoint` and `cache_key` functions to it. I can use the block just fine in my circuits and
[code]
works also, where `circuit` contains `MyBlock` instances. However when I try to compute gradients via `expect'(hamiltonian, register => circuit)` I get the error message

[code]

I tried

[2021-02-10 14:15] jlbosse commented on #155
Turns out my approach was correct. One only needs to define `YaoBlocks.AD.mat_back!` instead of `YaoBlocks.mat_back!` and then everything works as expected.

[2021-02-10 14:15] #155 closed, assigned to nobody

[2021-05-03 16:04] jlbosse opened #158 "What does `adjcunmat` do?"
I am trying to get quantum backpropagation with GPU acceleration working for `MyCustomBlock <: YaoBlocks.PrimitiveBlock{2}`. It has only one real parameter (like e.g. a rotation gate) and in my circuits always occurs inside a `PuttBlock`. Hence the easiest solution seemed to be to write my own
[code]
to replace the version in `YaoBlocks/autodiff/mat_back.jl:43`. But I don't exactly understand
what

[2021-05-03 16:15] GiggleLiu commented on #158
adjcunmat is the most general “adjoint function for controlled unitary n bit gate”. It returns matrix as the gate gradients. It parameters are (adjoint of output, number of bits, control locations, control values, gate matrix, gate locations), this is a pretty low level interface.
You should rewrite this mat_back! function to make it work for gpu. collector stores the gradients, you can use pushfi

[2021-05-03 17:30] jlbosse commented on #158
The end goal is to make `expect'(hamiltonian, curegister => circuit)` work for a parametric circuit containing `MyCustomBlock`.

I was indeed planning to rewrite the `mat_back!` for `PutBlock{N,C,MyCustomBlock}` and now I am confused why I need some "adjoint function for controlled unitary n bit gate" at all; There are no controlled gates in the circuit but in line 45 of mat_back.jl it is called.

[2021-05-03 17:57] GiggleLiu commented on #158
Then you probably need to implement `apply_back!` rather than `mat_back!`. https://github.com/QuantumBFS/YaoBlocks.jl/blob/master/src/autodiff/apply_back.jl

I do not mean you have to overwrite `adjcunmat`. I was answering what it is. It is a fallback implementation.

The `mat_back!` is only used when you back propagate the matrix representation of a function. It is not expected to be called here.

[2021-05-04 14:52] jlbosse commented on #158
Yes, it indeed looks like I want to implement `apply_back!`. My custom gate is `exp(-1im * H * t)` with `H = XX + YY + ZZ` (the Heisenberg interaction). I figured I could do essentially the same as is done for rotation gates in `apply_back.jl:39ff` and `apply_back.jl:135ff`.  So:

[code]

which works as expected on the CPU (still fighting with some CUDA.jl errors on the GPU). However I am bit conf

[2021-05-04 15:24] GiggleLiu commented on #158
Good that you find a solution to the GPU backpropagation, it tortured me for long time. FYI: if you are going to open source your project, a PR to CuYao is welcomed:
https://github.com/QuantumBFS/CuYao.jl

Because `out` is not useful anymore after this step in backpropagation. It is for recovering intermediate states.

Yes.

[2021-05-05 12:35] jlbosse commented on #158
Okay, after updating my CUDA installation it is all working now and I am getting significant speedups (about a factor of 10) from running on the GPU! Thank you very much for your help :+1:  Since I only added GPU backpropagation for `MyCustomGate` I don't think there is much point in opening a PR, but if I ever make more progress on getting GPU backpropagation working in general I will make sure t

[2021-05-05 12:35] #158 closed, assigned to nobody

[2021-05-05 17:00] Roger-luo opened #159 "integration with IBMQClient"
now with the v0.3 release of IBMQClient, the API should be stable. One could integrate YaoBlocks with IBMQClient by transforming the quantum blocks to the corresponding Qobj schema defined here: https://yaoquantum.org/IBMQClient.jl/dev/schema/

[2021-05-05 17:20] #159 closed, assigned to nobody

[2021-06-10 08:27] yuyuexi opened #160 "define my custom gate but cannot use mat function"
Hi there, I use `Yao.jl` for my quantum computation project, where I should define a new gate with some parameters.

After the definition of my gate and its `mat` function, I can compute the matrix of `mygate`.i.e: `mat(ComplexF64, mygate)` works well.

However, I find error `MethodError: no method matching mat(::Type{ComplexF64}, ::mygate)`, when I use `Matrix(chain(n, mygate))` and `operator_fid

[2021-06-10 08:41] GiggleLiu commented on #160
Hi, you need to implement the `mat(::Type{T}, block)` to create a matrix of type element type `T`. This is lower level interface, bceause a gate does not have a specific element type. Example:
https://github.com/QuantumBFS/YaoBlocks.jl/blob/2d94a359f8a8ccca23411091243b966f4a95e56a/src/primitive/rotation_gate.jl#L90

[2021-06-10 08:47] yuyuexi commented on #160
Yeah, I  implement the `mat(::Type{T}, mygate)` as follwing
[code]
This makes `mat(ComplexF64, mygate)` works well. But `Matrix(chain(n, mygate))` and `operator_fidelity(block, mygate)` did not work as before.

[2021-06-10 08:49] GiggleLiu commented on #160
Do you have a minimum working example, so that I can reproduce the error?

[2021-06-10 08:55] yuyuexi commented on #160
This is my code
[code]
and error captured at last line:
[code]

Thanks for your kind reply!

[2021-06-10 08:58] GiggleLiu commented on #160
This is the function that you need to import and overload
[code]
But you created a new function called `mat` in your current module.

[2021-06-10 09:36] yuyuexi commented on #160
ops, what a stupid mistake.

thanks, that solves my problem exactly.

[2021-06-10 09:36] #160 closed, assigned to nobody

[2021-06-17 10:39] yuyuexi opened #161 "how can I implement two blocks sharing same parameters?"
Hi there. I am going to implement a quantum circuit using `Yao.jl`, which contains two blocks sharing same parameters. Let's say `U=u(a)s(b)v(a)` and `a` `b` are variational parameters in this circuit.

1. Specifically I can implement this circuit manually and compute their gradients using some custom methods, which is also my current method. However, if the structures of `u(a)` and `v(a)` are mor

[2021-06-17 13:51] GiggleLiu commented on #161
For parameter sharing, you can port the gradient function to Zygote. Zygote will handle the computational graph properly for you.
Example: https://github.com/QuantumBFS/QuAlgorithmZoo.jl/blob/master/examples/PortZygote/zygote_patch.jl

[2021-06-18 03:19] yuyuexi commented on #161
thanks your  reply!

Actually I tried this method with reference to `QuAlgorithmZoo.jl/examples/PortZygote/shared_parameters.jl`. This sample code works well. However, when I replace the `expect` function with `operator_fidelity` function, it returns an error (`Mutating arrays is not supported`), my code is just like following:
[code]

This is also the same  error I encounter in my own code. I am

[2021-06-18 03:26] GiggleLiu commented on #161
The gradient of obtaining matrix is defined to the `Matrix` function, it should be `mat` in your case:
https://github.com/QuantumBFS/QuAlgorithmZoo.jl/blob/7d9743561e445a6b2044f76337f12dd445c1ddb1/examples/PortZygote/zygote_patch.jl#L20

I assumed a user would be more interested in obtaining dense matrix for gate learning. If you need sparse arrays, you might want to redefine the AD rule on `mat`.

[2021-06-18 05:49] yuyuexi commented on #161
odd odd!

I use implementation similar to your sample code but without `g!(G,x)` method, it works perfectly. However, when I try to do this using `Zygote.gradient` and update the parameters manually, things get a little wired.

this is my code
[code]

After those definitions,
[code]
and
[code]
works very well.

but
[code]
returns `(nothing,)` and `Mutating arrays is not supported` error (I interpr

[2021-06-18 06:12] GiggleLiu commented on #161
To fix your issue

[code]

I know this looks wield, but Zygote does not support mutating object. A better approach is: define a non-mutating version `dispatch`, and then define adjoint rule on that function.

## The reason why this works
[code]
It calls into finite difference. You must specify gradient function explicitly to use the gradient function you defined.

[2021-06-18 06:44] yuyuexi commented on #161
thanks, I think your help enhances my interpretation of both `Yao.jl` and `Zygote`!

[2021-06-18 06:44] #161 closed, assigned to nobody

[2021-11-08 21:17] vincentelfving opened #167 "Zygote patch not working when involving non-unitary blocks"
Thank you @GiggleLiu for  #166 . I could run your example successfully with 0.11.7, but I ran into the following issue that I'm trying to solve.
When I run the following slightly modified code
[code]
Tests pass. Note that H is not the 'circuit' like in your example, but another unitary operator.
However, when I switch H to a _sum of_ unitaries (like a Hamiltonian, `H = sum([chain(5, put(k=>X)) for

[2021-11-08 22:32] GiggleLiu commented on #167
Thanks for the issue. Yao's built in AD engine requires reversibility. The AD rule of non-unitary block is not yet properly supported in Yao. And we have not plan to add it in the near future. See this broken test: https://github.com/QuantumBFS/YaoBlocks.jl/blob/7cf0ef0d578a310e4b3de800a01a8473afba4d31/test/autodiff/apply_back.jl#L105

However, it is easy to fix your using case (check #168), becau

[2021-11-08 22:47] #167 closed, assigned to nobody

[2021-11-14 09:04] vincentelfving opened #170 "Zygote: transposing a block yields DimensionMismatch (or missing adjoint)"
For certain kinds of WF overlap gradients, one would need to conjugate-transpose a unitary that has appeared before, so one needs both the regular and daggered version to appear in the expression (cost or loss function). However, I get errors when using the daggered version.

A minimal reproducing example with even just 1 block, which for now is the non-daggered version, `U`:

[code]
In this case,

[2021-11-15 01:53] GiggleLiu commented on #170
Thanks for the issue, this is a problem causes by returning circuit gradients as vector. I made a patch for it, can you check if it solves your issue? #171

[2021-11-15 15:50] vincentelfving commented on #170
@GiggleLiu perfect, I have tested a few cases and indeed this patch works for me! #171

Do you recommend I put the `Zygote.accum` method for `AbstractBlock`  in my own modules or is it generally applicable and will also be part of `chainrules_patch.jl`? (now I see it is in the test file)

[2021-11-15 15:57] GiggleLiu commented on #170
We will not add this patch to YaoBlocks, because Zygote is very slow in loading and sometimes has version issues. E.g. now tests break on nightly due to using zygote in tests. In the future, we might switch a more correct implementation of constructing Tangent type for the circuit.

[2021-11-15 17:05] vincentelfving commented on #170
@GiggleLiu ok understood! One remaining issue with the current rrules is the following tiny modification I made to the code:

[code]
as compared to the opening of this issue, I only added the Zygote.accum, and moved the C, which is an Add block of chain, into the loss function code. There is even no dependence on parameters, but I get the following error:
[code]

Not only is this a current issue,

[2021-11-16 02:13] GiggleLiu commented on #170
Hi, I just used the correct tangent type for gradients. It seems to solve your problem, and you do not need the patch anymore. However, there are still some issues unsettled. I am not good at debugging Zygote, if some one can help, that would be great. I posted a WIP PR in #173

[2021-11-16 07:12] vincentelfving commented on #170
yes this works for my problem and the accum patch is no longer needed thanks!

[2021-11-16 15:22] Roger-luo commented on #170
I haven't got time to look into the Zygote issue (just traveling Boston), e.g the one @GiggleLiu posted

[code]

let me take a second look at this a bit later to fully resolve this issue. But glad to see the main case is fixed

[2021-12-01 22:55] #70 closed, assigned to nobody

[2021-12-02 06:21] GiggleLiu commented on #17
@JuliaRegistrator register()

[2021-12-02 06:21] JuliaRegistrator commented on #17
Error while trying to register: **Register Failed**
@GiggleLiu, it looks like you are not a publicly listed member/owner in the parent organization (QuantumBFS).
If you are a member/owner, you will need to change your membership to public. See [GitHub Help](https://help.github.com/en/articles/publicizing-or-hiding-organization-membership)

[2021-12-02 06:23] GiggleLiu commented on #17
@JuliaRegistrator register()

[2021-12-02 06:24] JuliaRegistrator commented on #17
Registration pull request created: [JuliaRegistries/General/49751](https://github.com/JuliaRegistries/General/pull/49751)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can